@import "./global/buttons.scss";
@import "./global/general.scss";
@import "./global/mixins.scss";
@import "./global/variables.scss";
@import "./global/loader.scss";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;

  @include scrollbar;
}
