@import "../../style/global/mixins.scss";

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.BlogsCategories {
  min-height: calc(100vh - 89px);

  @include desktop {
    height: calc(100vh - 111px);
    min-height: unset;
  }

  .container {
    .row {
      .Menu {
        .Categories {
          display: block;
          overflow-y: auto;
          box-shadow: 0 0 5px rgb(0 0 0 / 10%);
          max-height: 170px;
          padding: 1px 1px 1px 0;
          margin: 20px 0 20px 0;
          
          @include desktop {
            max-height: 400px;
            margin: 40px 0 30px 0;
          }

          @include scrollbar;
        }

        .nav-tabs {
          border-bottom: unset;

          .nav-item {
            .nav-link {
              color: black
            }

            .active {
              background-color: #f2f4f7;
              border-color: #babdc0;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}